<div>
    <p></p>
    <h3>Заказы</h3>
    <p></p>

    <h3>Ваши заказы</h3>
    <table class="table table-hover">
        <tr>
            <td>Номер заказа</td>
            <td>Дата</td>
            <td>Сумма</td>
            <td>Статус</td>
            <td>*</td>


        </tr>
        <tbody>

        <tr ng-repeat="o in orderList">
            <td>{{o.id}}</td>
            <td>{{o.createdAt}}</td>
            <td>{{o.totalPrice}} $</td>
            <td>{{o.state}}</td>
<!--            <td><button type="button" class="btn btn-success" ng-click="orderPay(o.id)">Оплатить</button></td>-->
<!--            <td>   <button class="btn btn-primary" ng-click="checkOut(o.id)" >Оплатить</button>-->
            <button class="btn btn-secondary" ng-click="disabledCheckOut()" >Оплатить</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>