server:
  port: 8189
  servlet:
    context-path: /shop

spring:
  datasource:
    driver-class-name: org.h2.Driver

    url: jdbc:h2:mem:mydatabase;MODE=PostgreSQL
    username: sa
    password:
  jpa:
    show-sql: true
    properties:
      hibernate:
#for correct create querys by our action
        dialect: org.hibernate.dialect.H2Dialect
#web console fo h2 DB
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: false
jwt:
#  key for coding and checking token
  secret: 54y5hy67ik9##%Y%h589o8kuhgh45u67jngyj7t7jfhg#$
  lifetime: 98000000

integration:
  urlCart: "http://localhost:8181/shop-carts/api/v1/cart"
