server:
  port: 8189
  servlet:
    context-path: /shop-core

spring:
  datasource:
    driver-class-name: org.h2.Driver

    url: jdbc:h2:mem:mydatabase;MODE=PostgreSQL
#    url: jdbc:h2:file:./:mydatabase;MODE=PostgreSQL
    username: sa
    password:
  jpa:
    show-sql: true
    properties:
      hibernate:
#for correct create queries by our action
        dialect: org.hibernate.dialect.H2Dialect
#web console fo h2 DB
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: false



integrations:
  cart-service:
    url: http://localhost:8181/shop-carts/
    connect-timeout: 5000
    read-timeout: 10000
    write-timeout: 5000

#  auth-service:
#    url: http://localhost:8188/shop-auth/
#    connect-timeout: 5000
#    read-timeout: 10000
#    write-timeout: 5000